//= require jquery.tagsinput
//= require_self

$container-desktop: 800px
$container-large-desktop: $container-desktop

@import 'bootstrap'


body
  padding-top: 80px
  margin-bottom: 30px

.category-list
  padding-left: 10px
  list-style: none

.search-form
  margin-bottom: 20px


.search-result
  h4
    font-weight: 400
  li.media
    margin-top: 20px
