body
  margin-bottom: 30px

ul.category-list
  padding-top: 20px
  padding-left: 0px
  list-style: none

  li
    padding: 2px 0

  li:nth-child(odd)
    background-color: $gray-lighter

.search-form
  margin-bottom: 20px


.search-result
  h4
    font-weight: 400
    a:hover
      border-bottom-style: dashed
      border-bottom-width: 1px
      text-decoration: none
  em
    font-style: normal
    font-weight: 500

  li.media
    margin-top: 20px

textarea.form-control
  height: 200px

.bold
  font-weight: 600